<div id="site-container">
  <div class="section-heading-h1">
Meet The Founders
  </div>
 <br>

  <div class="border-square-container">
  <div class="border-square">
    <div class="section-heading-h2">
      Bryce Nesbitt
    </div>
    <div class="section-heading-h4">
    Electrical  Engineer <br><br>
    Certified Professional Inspector (CPI), focusing on multifamily housing. <br><br>
    Permit and regulatory consultant, plans designer. <br><br>
    IT Director at City Car Share. <br><br>
    Co-Founder NextBus Transit Tracking. <br><br>
    Housing and transit advocate.<br>
    </div>
  </div>
<br>
  <div class="border-square">
    <div class="section-heading-h2">
      Sven Thesen
    </div>
    <div class="section-heading-h4">
      Chemical Engineer<br><br>
      20+ years in EV Space, including 18 years of EV driving.<br><br>
      Policy Work:  Co-founded EVCAC & National Charging for All Coalition (CALGreen, MFH & 100% EV Ready).<br><br>
      PG&E, PCE, Better Place.<br><br>
      Co-Founded OrangeCharger<br><br>
      Funded EverCharge, ItsElectric.<br>
    </div>
  </div>
</div>
</div>
