  <div class="site-container">
      <div class="section-heading">
        Free EV charging installation for apartments & condos
      </div>
      <div class="section-heading-h3">
        No ongoing fees, maintenance or operational costs!
      </div>
      <div class="section-heading-h2">
        Are you an apartment manager or condo HOA in one of these cities?
      </div>
      <div class="section-heading">
      EV PlugBox  provides inexpensive, convenient, reliable and safe electric vehicle (EV) charging for apartments and condos via a low-cost, low-tech solution.
        <%= link_to('Contact Us', {controller: 'contact' , action: 'index'}, class:"contact-btn") %>
      </div>
    </div>